* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.header-container {
    display: flex;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1300px;
    box-shadow: 5px 5px 10px rgba(166, 166, 166, 0.4);
    padding: 50px;
}

.about-title {
    font-size: 70px;
    font-weight: 300;
}

.about-text {
    font-size: 35px;
    line-height: 1.4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 73, 73);
}

.title-container>.icons {
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.about-container .icons>svg {
    height: 70px;
    width: 70px;
}

.header-img-container {
    width: 1000px;
    height: 1000px;
    background-image: url(https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 150px;
}

.body-title {
    font-size: 100px;
    font-weight: 300;
    padding-bottom: 10px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 30.7%);
    grid-template-rows: repeat(2, 50%);
    gap: 80px;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(43, 43, 43);
}

.project-title {
    font-size: 25px;
    font-weight: 400;
}

.title-container>.icons {
    display: flex;
    height: 30px;
}

.temp {
    height: 400px;
    background-color: rgb(160, 51, 51);
    color: white;
    font-size: 60px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #0891B2;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact {
    font-size: 100px;
    font-weight: 300;
    padding-bottom: 10px;
}

.footer-content p {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.phone-container {
    padding-bottom: 20px;
}

.phone-container, .email-container {
    display: flex;
    height: 50px;
    gap: 20px;
    fill: white;
}

.footer-content>.icons {
    display: flex;
    height: 80px;
    width: 50%;
}